log.org
\#log.org\#
\#*\#
./log.org
source_cat.py
./source_cat.py
./.env
.env
metafilter_results_map.html
./metafilter_results_map.html
data/ndvi_comparison/
data/era5/
*.egg-info/
.venv/
__pycache__/
*.py[cod]
*$py.class
